<!DOCTYPE html>
<html ng-app>
<head>
	<title>
		    Formulario
	</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>

</head>
<body>





<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Herlon REV3.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="formulario.html">Formulario</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="respostas.html">Questionario</a>
      </li>
      

    </ul>
  </div>
</nav>









<!-- tipo do layout -->
<div class="container-fluid">

<!-- cor do layout -->
  <div class="p-3 mb-2 bg-primary text-white">


<!-- centralização do layout -->
    <div class="mx-auto" style="width: 400px;">
      <fieldset>
       <input type="text" ng-model="nome" onfocus="this.value = 'asdadad'" hidden>

      <center><legend class="sub">Cadastro de usuario <input type="color" value="#ff0000" ng-model="nome" placeholder="de usuarios" color="black" hidden></legend></center>
    </div>

  <fieldset>
  <legend >Dados do usuario</legend>
  <center>
  <table cellspacing="10">

<script>
function formatar(entrada, documento){
  var i = documento.value.length; //escreve em i o valor atribuido ao campo
  var saida = entrada.substring(0,1); //escreve em saida o valor que sera substituido(start = 0, end = 1    o valor sera #)
  var texto = entrada.substring(i);//escreve em texto o valor da entrada com o valor maximo definido para o campo
  
  if (texto.substring(0,1) != saida)//se o texto for diferente da saida(#)...
  {
      documento.value += texto.substring(0,1); //adiciona o valor do texto(#->. ou - ou ( ou))
  }
  
}
</script>



<!-- primeira linha -->
<h4>Olá, {{ nome }}</h4>
  <td>
    <label for="nome">Nome: </label>
  </td>
  <td align="left">
        <input type="text" ng-model="nome">
  </td>

  <td>
    <label for="sobrenome">Sobrenome: </label>
  </td>
  <td align="left">
    <input type="text" id="sobrenome">
  </td>

<!-- fim da primeira linha -->	
<!-- segunda linha -->

  <tr>
   <td>
    <label>Nascimento: </label>
   </td>
   <td align="left">
    <input type="value" name="dia" size="2" maxlength="2" value="dd"> 
    <input type="value" name="mes" size="2" maxlength="2" value="mm"> 
    <input type="value" name="ano" size="4" maxlength="4" value="aaaa">
   </td>
  </tr>
<!-- fim da segunda linha -->
<!-- terceira linha -->
  </tr>
   <td>
    <label for="identidade">Identidade: </label>
   </td>
   <td align="left">
    <input type="text" id="identidade" size="13" maxlength="13" OnKeyPress="formatar('##-##.###.###', this)">
   </td>

   <td>
    <label for="cpf">Cpf: </label>
   </td>
   <td align="left">
    <input type="text" id="cpf" size="14" maxlength="14" OnKeyPress="formatar('###.###.###-##', this)">
   </td>
  </tr>
<!-- fim da terceira linha -->
<!-- quarta linha -->
  <tr>
   <td>
    <label for="estadocivil">Estado Civil: </label>
   </td>
   <td align="left">

  <div class="form-group">
    <label for="exampleFormControlSelect1"></label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>--</option>
      <option>Solteiro</option>
      <option>Casado</option>
      <option>Separado</option>
      <option>Divorciado</option>
      <option>Viúvo</option>
    </select>
  </div>

   </td>
  </tr>

<!-- fim da quarta linha -->

  <td>
    <label for="estadocivil">Sexo: </label>
  </td> 
  <td>
     <input type="radio" name="sexo" value="Masculino"> Masculino
     <br>
     <input type="radio" name="sexo" value="Feminino"> Feminino
  </td>


<!-- quinta linha -->
  </tr>
   <td>
    <label for="telefone">Telefone: </label>
   </td>
   <td align="left">
    <input type="text" value="" id="telefone" size="12" maxlength="12" OnKeyPress="formatar('##-####-####', this)">
   </td>

   <td>
    <label for="celular">Celular: </label>
   </td>
   <td align="left">
    <input type="text"  id="celular" size="13" maxlength="13" OnKeyPress="formatar('##-#####-####', this)">
   </td>
  </tr>
<!-- fim da quinta linha -->
<!-- sexta linha -->
  </tr>
   <td>
    <label for="email">Email: </label>
   </td>
   <td align="left">
    <input type="text" id="email" size="30" >
  </tr>
<!-- fim da sexta linha -->
 </table>
 </center>
</fieldset>



<!-- Segundo campo -->
  <fieldset>
  <legend>Endereço do usuario</legend>
 <center>
 <table cellspacing="10">
 <!-- primeira linha -->
  <tr>
   <td>
    <label for="rua">Rua:</label>
   </td>
   <td align="left">
    <input type="text" name="rua" size="34">
   </td>

   <td>
    <label for="numero">Numero:</label>
   </td>
   <td align="left">
    <input type="text" name="numero" size="5">
   </td>
  </tr>
 <!-- fim da primeira linha -->

 <!-- segunda linha -->
  <tr>
   <td>
    <label for="bairro">Bairro: </label>
   </td>
   <td align="left">
    <input type="text" name="bairro">
   </td>

   <td>
    <label for="cidade">Cidade: </label>
   </td>
   <td align="left">
    <input type="text" name="cidade">
   </td>
  </tr>
   <!-- fim da segunda linha -->

   <!-- terceira linha -->   
  <tr>
   <td>
    <label for="estado">Estado:</label>
   </td>
   <td align="left">
    <select name="estado"> 
    <option value="ac">----</option> 
    <option value="ac">Acre</option> 
    <option value="al">Alagoas</option> 
    <option value="am">Amazonas</option> 
    <option value="ap">Amapá</option> 
    <option value="ba">Bahia</option> 
    <option value="ce">Ceará</option> 
    <option value="df">Distrito Federal</option> 
    <option value="es">Espírito Santo</option> 
    <option value="go">Goiás</option> 
    <option value="ma">Maranhão</option> 
    <option value="mt">Mato Grosso</option> 
    <option value="ms">Mato Grosso do Sul</option> 
    <option value="mg">Minas Gerais</option> 
    <option value="pa">Pará</option> 
    <option value="pb">Paraíba</option> 
    <option value="pr">Paraná</option> 
    <option value="pe">Pernambuco</option> 
    <option value="pi">Piauí</option> 
    <option value="rj">Rio de Janeiro</option> 
    <option value="rn">Rio Grande do Norte</option> 
    <option value="ro">Rondônia</option> 
    <option value="rs">Rio Grande do Sul</option> 
    <option value="rr">Roraima</option> 
    <option value="sc">Santa Catarina</option> 
    <option value="se">Sergipe</option> 
    <option value="sp">São Paulo</option> 
    <option value="to">Tocantins</option> 
   </select>
   </td>
  </tr>
  <!-- fim da terceira linha -->
<!-- quarta linha -->
  </tr>
   <td>
    <label for="estadocivil">Estado Civil: </label>
   </td>
   <td align="left">
   <!-- faz a mesma função dos fanucs -->
    <select name="estado"> 
    <option value="estadodefault">--</option> 
    <option value="solteiro">Solteiro</option> 
    <option value="casado">Casado</option> 
  <option value="separado">Separado</option> 
  <option value="divorciado">Divorciado</option> 
  <option value="viúvo">Viúvo</option> 
    </select>
   </td>
  </tr>

   <!-- quarta linha -->   
  <tr>
   <td>
    <label for="cep">CEP: </label>
   </td>
   <td align="left">
       <input type="text"  id="celular" size="9" maxlength="9" OnKeyPress="formatar('#####-###', this)">
   </td>
  </tr>
    <!-- fim da quarta linha -->

	</table> 
  </center>
</fieldset>



  </div>
</div>
</body>
</html>